POCKET_TALK_HOST=127.0.0.1
POCKET_TALK_PORT=8093
ICECAST_HOST=127.0.0.1
ICECAST_PORT=8000
ICECAST_TALK_MOUNT=pocket-talk.mp3
ICECAST_SOURCE_USER=source
ICECAST_SOURCE_PASSWORD=CHANGE_ME
FFMPEG=/usr/bin/ffmpeg
